/**
 * ---------------------------------------------------------------------------
 *  (c) Patrick Seuret, 2023
 * ---------------------------------------------------------------------------
 *  welcome_archives.css
 * ---------------------------------------------------------------------------
 *
 * Versions:
 *   2024-08-02: Add: Manage dark and light themes (with 
 *   2023-09-09: First version
 *****/

    /* ---------- Get default theme-dependant colors ---------- */
    @import url(../exerma_base/css/exerma_themes.css); /* dev */
    @import url(./css/exerma_themes.css);              /* dist */

    html {
        color-scheme: light dark;
        background-color: var(--background-color-box);
        color: var(--text-color);
    }

    /* ---------- Global ---------- */
    body {
        font-size: 11pt;
    }

    /* ---------- Unique mail objects ---------- */

    .mailsubject {
        width: auto;
    }

    .mailsender .original,
    .mailsubject .original {
        font-size:       9pt;
        color:     #AAAAAA;
        width:           80%;
        margin-bottom:     0;
    }

    .mailsender .textbox,
    .mailsubject .textbox {
        margin-top:       0;
        margin-bottom: 10px;
        font-size:     11pt;
        width:          80%;
    }

    /* ---------- Unique mail names ---------- */

    .mailsender {
        width: auto;
    }

    /* Share format with mailsubject above */
    
    /* ---------- Attachments ---------- */

    #header_attachments {
        margin-left: 60%;
    }

    .saveattachments {
        width: 95%;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    /* ---------- Footer buttons ---------- */

    #footer_buttons {
        width: 95%;
        display: flex;
        flex-wrap: nowrap;
    }

    .footer_buttons_left {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .footer_buttons_right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    #continue {
        background-color: var(--button-emphased-background);
        border-color: var(--button-emphased-border);
        color: var(--button-emphased-text);
    }

    .foot_button {
        font-weight: bold;
        background-color: var(--button-background);
        border: 2px solid var(--button-border);
        border-radius: 10px;
        padding: 10px 20px;
        margin: 5px;
        color: var(--button-text);
        box-shadow: 2px 4px 2px var(--button-shadow);
    }

    .foot_button:hover {
        background-color: var(--button-background-active) !important;
        border-color: var(--button-border-active) !important;
        color: var(--button-text-active) !important;
    }
