/**
 * ---------------------------------------------------------------------------
 *  (c) Patrick Seuret, 2023
 * ---------------------------------------------------------------------------
 *  welcome_archives.css
 * ---------------------------------------------------------------------------
 *
 * Versions:
 *   2023-09-09: First version
 *****/

    /* ---------- Global ---------- */
    body {
        font-size: 11pt;
    }

    /* ---------- Unique mail objects ---------- */

    .mailsubject {
        width: auto;
    }

    .mailsender .original,
    .mailsubject .original {
        font-size:       9pt;
        color:     #AAAAAA;
        width:           80%;
        margin-bottom:     0;
    }

    .mailsender .textbox,
    .mailsubject .textbox {
        margin-top:       0;
        margin-bottom: 10px;
        font-size:     11pt;
        width:          80%;
    }

    /* ---------- Unique mail names ---------- */

    .mailsender {
        width: auto;
    }

    /* Share format with mailsubject above */
    
    /* ---------- Attachments ---------- */
/*
    #attachments {

    }
*/

    .saveattachments {
        width: 95%;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    /* ---------- Footer buttons ---------- */

    #footer_buttons {
        width: 95%;
        display: flex;
        flex-wrap: nowrap;
    }

    .footer_buttons_left {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .footer_buttons_right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    #continue {
        background-color: #1b1ba42a;
    }

/*
    .directory_picker {
        font-weight: bold;
        background-color: rgb(32, 54, 222);
        border: 1px solid rgb(21, 35, 145);
        border-radius: 10px;
        padding: 10px 20px;
        margin: 5px;
        color: #eeeeee;
    }
    .directory_picker:hover {
        background-color: rgb(21, 35, 145) !important;
        border-color: black;
        color: white;
    }
*/

    .foot_button {
        font-weight: bold;
        background-color: white;
        border: 1px solid #ceceff;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 5px;
        color: #616161;
    }

    .foot_button:hover {
        background-color: #1b1ba4 !important;
        border-color: black;
        color: white;
    }
