/*****
 * (c) Patrick Seuret, 2023, action_popup.css
 * 
 * Versions:
 *   2024-06-09: Add: Show version in light gray small text
 *   2023-07-17: First version
 *****/ 

    /* ---------- Get default theme-dependant colors ---------- */
    @import url(../exerma_base/css/exerma_themes.css); /* dev */
    @import url(./css/exerma_themes.css);              /* dist */

    html {
        color-scheme: light dark;
        background-color: var(--background-color-box);
        color: var(--text-color);
    }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    /*height: 60px;*/
    padding: 20px;
}

.button {
    background-color: var(--button-background);
    border: 2px solid var(--button-border);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: var(--button-text);
}

.button:hover {
    background-color: var(--button-background-active);
    border-color: var(--button-border-active);
    color: var(--button-text-active);
}

#AddinVersion {
    color: lightgray;
    font-size: small;
}
